@import url('https://fonts.googleapis.com/css?family=Manrope:regular,600,700&display=swap');

@import url('reset.css');

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 34px;
  margin-block: 20px;
  text-align: center;
}

.dark-template {
  background-color: #141414;
  color: white;
}
.dark-template-container {
  max-width: 1597px;
  font-family: 'Manrope', Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.dark-template-boxes {
}
.dark-template-box {
  width: 33.333%;
  display: inline-block;
  background-color: darkgreen;
}
.dark-template-box-content {
}
.dark-template-box-title > h3 {
  display: inline-block;
}
.dark-template-box-title {
}
.dark-template-box-text {
}
